h1 {
    font-size: 12px;
    color: white;
    background: #cc0066;
    margin: 0px;
    padding: 3px;
}

body {
    text-align: center;
    margin: 0px;
}

.element {
    padding: 10px; 
}

.footer {
    background: #eeeeee;
}

.button {
    width: 50%;
}

#feedback {
	color: red;
}