h1 {
	font-size: 14px;
	color: white;
	background: #cc0066;
	margin: 0px;
	padding: 3px;
}

body {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	margin: 0px;
}

.element {
	padding: 10px;
}

.footer {
	background: #eeeeee;
}

.button {
	width: 250px;
}

#feedback {
	color: red;
}

#userlisttable {
    margin-left: auto; 
    margin-right: auto;
	border:1px solid lightgray;
}

#userlisttable tr:nth-child(2n) {
	background-color: #eeeeee;
}