<!DOCTYPE html>
<html>
<head>
<title>Student Information</title>
<meta   charset = "UTF-8">
<link href="{{url_for('static', filename='index.css') }}" type="text/css" rel="stylesheet" />
<script src = "{{url_for('static', filename='jquery.js')}}" type="text/javascript"></script>
<script src = "{{url_for('static', filename='index.js') }}" type="text/javascript"></script>
</head>

<body>
    <h1>Add a new user</h1>  
    <form name="new_user">
        <div class="element">
            <label>User Name:</label>
            <input id="user_name" name="user_name">
        </div>
        <div class="footer">
            <input class="button" type="submit" value="Save">
        </div>
    </form>
    <table id="mytable">
        
    </table>
</body>

    
</html>